<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<title>About Page</title>
<head>
</head>
<body>
    <div id="content">

        <h1>welcome to the about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur tenetur odio eveniet earum itaque ab! Deleniti assumenda earum blanditiis perspiciatis reiciendis quae, dolor repudiandae porro temporibus voluptatibus possimus, error repellendus.</p>

    </div>

<script>
    console.log("about page....");
</script>

</body>
</html>