<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
    <title>Service Page</title>
<head>
</head>
<body>

    <section id="content">
        <h1> WElcome to the services page</h1>
        <h2>Services offre by SCM</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum iste maxime ipsam corporis quisquam repellendus excepturi adipisci tempora repudiandae? Necessitatibus quaerat et itaque eveniet fuga tenetur dicta mollitia assumenda quidem?</p>

    </section>
    <script>

        console.log("Service Page...")
    </script>

</body>
</html>